myPlayer.LrcReader/srtx.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.xcvista.cs.vc/ns/srtx" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="srtx">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="head">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string" />
              <xs:element name="artist" type="xs:string" />
              <xs:element name="album" type="xs:string" />
              <xs:element name="author" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="meta">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="type" type="xs:string" use="required" />
                      <xs:attribute name="name" type="xs:string" use="required" />
                      <xs:attribute name="encoding" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="lines">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="line">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="start" type="xs:time" use="required" />
                      <xs:attribute name="end" type="xs:time" use="required" />
                      <xs:attribute name="type" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>